<h2 class="text-2xl font-bold text-center mb-4">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :first_name, "First Name", class: "block font-medium" %>
    <%= f.text_field :first_name, class: "w-full px-3 py-2 border rounded-lg focus:outline-none" %>
  </div>

  <div class="mb-4">
    <%= f.label :last_name, "Last Name", class: "block font-medium" %>
    <%= f.text_field :last_name, class: "w-full px-3 py-2 border rounded-lg focus:outline-none" %>
  </div>

  <div class="mb-4">
    <%= f.label :email, "Email", class: "block font-medium" %>
    <%= f.email_field :email, class: "w-full px-3 py-2 border rounded-lg focus:outline-none" %>
  </div>

  <div class="mb-4">
    <%= f.label :phone_number, "Phone Number", class: "block font-medium" %>
    <%= f.text_field :phone_number, class: "w-full px-3 py-2 border rounded-lg focus:outline-none" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, "Password", class: "block font-medium" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-lg focus:outline-none" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, "Confirm Password", class: "block font-medium" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-lg focus:outline-none" %>
  </div>

  <!-- Remember Me Checkbox -->
  <div class="mb-4 flex items-center">
    <%= f.check_box :remember_me, class: "mr-2" %>
    <%= f.label :remember_me, "Remember me" %>
  </div>

  <!-- Terms and Conditions Checkbox -->
  <div class="mb-4 flex items-center">
    <%= check_box_tag "terms", "1", false, class: "mr-2" %>
    <%= label_tag "terms", "I agree to the Terms and Services" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Sign Up", class: "bg-blue-500 text-black px-6 py-2 rounded-lg hover:bg-blue-600 w-full" %>
  </div>
<% end %>

<p class="mt-4 text-center">
  Already have an account?
  <%= link_to "Log in", new_session_path(resource_name), class: "text-blue-500 hover:underline" %>
</p>
