
<!-- NAVBAR section -->

<%= render 'home/header' %>


<main class="flex flex-col gap-4 bg-gray-200 rounded-2xl p-4 sm:p-6 md:p-8">
  <form action="<%= edit_post_path %>" method="patch" class="flex flex-col items-center justify-center bg-white rounded-2xl p-4 sm:p-6 md:p-8 shadow-md">
    <div class="flex flex-col gap-y-5 w-full">
      <!-- Title Input -->
      <div>
        <label for="title" class="block text-sm sm:text-base font-medium text-gray-900">Title</label>
        <div class="mt-2">
          <div class="flex items-center rounded-md bg-white border border-gray-300 focus-within:border-indigo-600">
            <input type="text" name="title" id="title" value="<%= @post.title %>" class="block w-full p-2 sm:p-3 text-sm sm:text-base text-gray-900 placeholder-gray-400 focus:outline-none rounded-md">
          </div>
        </div>
      </div>

      <!-- Description Input -->
      <div>
      <label for="description" class="block text-sm sm:text-base font-medium text-gray-900">Description</label>
      <div class="mt-2">
        <input type="text" name="description" id="description" value="<%= @post.description %>" 
          class="block w-full rounded-md bg-white p-2 sm:p-3 text-sm sm:text-base text-gray-900 border border-gray-300 focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 placeholder-gray-400"
          placeholder="Enter a short description...">
      </div>
    </div>    

      <!-- Action Buttons -->
      <div class="flex flex-col md:flex-row justify-between gap-4">
        <div class="flex justify-around gap-4 md:gap-6 flex-wrap">
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('video.svg')%>" class="w-6 sm:w-8" alt="">
            <p class="text-xs sm:text-sm md:text-lg">Live Video</p>
          </div>
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('image.svg')%>" class="w-6 sm:w-8" alt="">
            <p class="text-xs sm:text-sm md:text-lg">Photo/Video</p>
          </div>
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('smile.svg')%>" class="w-6 sm:w-8" alt="">
            <p class="text-xs sm:text-sm md:text-lg">Feeling</p>
          </div>
        </div>

        <div class="w-full md:w-auto">
          <button class="w-full md:w-auto bg-[#377DFF] hover:bg-blue-700 text-white py-3 px-6 rounded-lg text-sm sm:text-lg font-medium hover:cursor-pointer">Update</button>
        </div>
      </div>
    </div>
  </form>
</main>
