
<!-- NAVBAR section -->

<%= render 'home/header' %>


<%# <p><%= notice ></p> %>

<main class="flex flex-col gap-4 bg-gray-200 rounded-2xl px-2 py-4 md:px-8 md:py-8">
  <form action="<%= edit_post_path %>" method="patch" class="flex flex-col items-center justify-center py-4 px-2 md:px-8 md:py-8 bg-white rounded-2xl">
    <div class="flex flex-col gap-y-5 w-full px-2">
      <div>
        <label for="title" class="block text-base font-medium text-gray-900">Title</label>
        <div class="mt-2">
          <div class="flex items-center rounded-md bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
            <input type="text" name="title" id="title" value="<%= @post.title %>" class="shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg">
          </div>
        </div>
      </div>

      <div>
        <label for="description" class="block text-base font-medium text-gray-900">Description</label>
        <div class="mt-2">
          <textarea name="description" id="description" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 md:text-lg"><%= @post.description %></textarea>
        </div>
      </div>


      <div class="flex flex-col md:flex-row justify-between gap-4">
        <div class="flex justify-around gap-4 md:gap-6">
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('video.svg')%>" alt="">
            <p class="text-xs md:text-lg">Live Video</p>
          </div>
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('image.svg')%>" alt="">
            <p class="text-xs md:text-lg">Photo/Video</p>
          </div>
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('smile.svg')%>" alt="">
            <p class="text-xs md:text-lg">Feeling</p>
          </div>
        </div>

        <div>
          <button class="w-full bg-indigo-600 hover:bg-indigo-800 text-white py-3 md:px-8 rounded-lg text-xl font-medium hover:cursor-pointer">Update</button>
        </div>
      </div>
    </div>
  </form>
</main>